<a href="https://colab.research.google.com/github/sonahyoung/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import pandas as pd
import requests

In [11]:
URL = ('http://apis.data.go.kr/1613000/btiData/getBrdgList?serviceKey=ZUG0J8KwW0H0BaxpRFhYKusTrBhn%2FlAYzalMRU9NSsk8ivFjsJ4y1WqdsNZuJLGug%2FQ1RHvjp9aZ48v3CJy3Hg%3D%3D&hyear=2020&roadType=20&manType=1&manOwn=01&manManage=00011&numOfRows=10&pageNo=1&responseType=json')
response = requests.get(URL)

In [ ]:
response

In [ ]:
r = response.json()
r

In [ ]:
items = r['response']['body']['items']
items

In [ ]:
items = r['response']['body']['items']
items[0]

In [20]:
facilName = [item['facilName'] for item in items]
roadNm = [item['roadNm'] for item in items]
roadTypeNm = [item['roadTypeNm'] for item in items]
sidoNm = [item['sidoNm'] for item in items]
sLatitude = [item['sLatitude'] for item in items]
eLatitude = [item['eLatitude'] for item in items]
length = [item['length'] for item in items]
height = [item['height'] for item in items]

facilName = pd.Series(facilName)
roadNm = pd.Series(roadNm)
roadTypeNm = pd.Series(roadTypeNm)
sidoNm = pd.Series(sidoNm)
sLatitude = pd.Series(sLatitude)
eLatitude = pd.Series(eLatitude)
length = pd.Series(length)
height = pd.Series(height)

df = pd.DataFrame({'facilName': facilName, 'roadNm': roadNm, 'roadTypeNm': roadTypeNm, 'sidoNm': sidoNm, 'sLatitude': sLatitude, 'eLatitude': eLatitude, 'length': length, 'height': height})

In [21]:
df

  facilName    roadNm roadTypeNm sidoNm   sLatitude   eLatitude length height
0       풍계교  일반국도37호선       일반국도    경기도   37.149231   37.148733     44      7
1      동진2교  일반국도42호선       일반국도    경기도   37.225012   37.225087     13    9.4
2       덕평교  일반국도37호선       일반국도    경기도   37.169174   37.169362     32      4
3       군하교  일반국도48호선       일반국도    경기도   37.713874   37.713365     84      5
4       설서교  일반국도42호선       일반국도    경기도   37.255650   37.255605     28    4.8
5       풍계교   일반국도3호선       일반국도    경기도   37.133443   37.133710     55    4.5
6       안양교  일반국도38호선       일반국도    경기도   37.009240   37.009015    105    6.2
7     쌍학1육교  일반국도39호선       일반국도    경기도   37.243679   37.243997     40    5.1
8      송문1교  일반국도42호선       일반국도    경기도   37.225113   37.225074     80    4.5
9       백암교  일반국도17호선       일반국도    경기도   37.167768   37.168093     43    5.8

In [22]:
def road(facilName):
  URL = ('http://apis.data.go.kr/1613000/btiData/getBrdgList?serviceKey=ZUG0J8KwW0H0BaxpRFhYKusTrBhn%2FlAYzalMRU9NSsk8ivFjsJ4y1WqdsNZuJLGug%2FQ1RHvjp9aZ48v3CJy3Hg%3D%3D&hyear=2020&roadType=20&manType=1&manOwn=01&manManage=00011&numOfRows=10&pageNo=1&responseType=json')
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  facilName = [item['facilName'] for item in items]
  roadNm = [item['roadNm'] for item in items]
  roadTypeNm = [item['roadTypeNm'] for item in items]
  sidoNm = [item['sidoNm'] for item in items]
  sLatitude = [item['sLatitude'] for item in items]
  eLatitude = [item['eLatitude'] for item in items]
  length = [item['length'] for item in items]
  height = [item['height'] for item in items]
  
  facilName = pd.Series(facilName)
  roadNm = pd.Series(roadNm)
  roadTypeNm = pd.Series(roadTypeNm)
  sidoNm = pd.Series(sidoNm)
  sLatitude = pd.Series(sLatitude)
  eLatitude = pd.Series(eLatitude)
  length = pd.Series(length)
  height = pd.Series(height)
  
  df = pd.DataFrame({'facilName': facilName, 'roadNm': roadNm, 'roadTypeNm': roadTypeNm, 'sidoNm': sidoNm, 'sLatitude': sLatitude, 'eLatitude': eLatitude, 'length': length, 'height': height})
  return df

In [30]:
iface = gr.Interface(road, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '전북', '전남', '경북', '경남', '제주', '충북', '충남']), outputs = ["dataframe"])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://23553.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7f386eb56d50>,
 'http://127.0.0.1:7860/',
 'https://23553.gradio.app')